body{
    font: 14px/22px 'Quattrocento Sans',
     "Helvetica Neue", Helvetica, Arial,
      sans-serif;
      width: 70% fix-content;
}

h2 {
    background-color: #235796;
    text-align: center;
    font: 30px/40px 'copse';
    color: white;
    text-shadow: #f3f3f3;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
} 
header {
    padding: 25px 20px 40px 20px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: #235796;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.75);
    z-index: 99;
    min-height: 76px;
    -webkit-font-smoothing:antialiased;
}

#banner {
    z-index: 100;
    left: 0;
    right: 50%;
    height: 50px;
    margin-right: -382px;
    position: fixed;
    top: 120px;
    background: #ffcc00;
    border: 1px solid #f0b500;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    border-radius: 0px 2px 2px 0px;
    padding-right: 10px;
}
#banner .fork {
    position: fixed;
    left: 50%;
    margin-left: -325px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 14px;
    background-color: #FFE788;
    text-decoration: none;
}
#banner button {
    border: 1px solid #dba500;
    border-radius: 2px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4), 
    0px 1px 1px rgba(0,0,0,0.1);
    color: #333;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}
strong {
    font-weight: bold;
    color: #333;
}
